.price-list-gallery
    padding 0.667rem
    width 100%
    background-color #fff
    color: #8a8a8a;
    overflow auto
    @media only screen and (min-width: 450px) and (min-height: 450px)
        width 60%