.price-list-item
    padding 1.4rem 1.24rem 1.4rem 2.2rem
    cursor pointer
    &__description 
        margin-top 1rem

    &:hover,
    &._active
        background linear-gradient(to right, #436263, #436263 14px, #eceeee 14px, #eceeee)