.price-list-item--description
    position relative   
    height auto
    background-color #fff
    padding 2rem 2rem 55px 2rem
    padding 10px
    @media only screen and (min-width: 450px) and (min-height: 450px)
        padding 2rem 2rem 55px 2rem
    span.button-bar 
        display block
        position absolute
        bottom 13.5%
        left -10%
        min-height 71px
        width 120%
        height auto
        background black
        @media only screen and (min-width: 450px) and (min-height: 450px)
            position static
            width auto
            bottom 51px
            right 4.5rem
            background transparent
        .approve-button.button.black 
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width auto
            padding 0 1rem
            margin-left: auto;
            color #fff
            background-color transparent
            line-height 2.4rem
            &.approve-button.black:hover
                background-color #000
                border-color #000
                color #fff
            @media only screen and (min-width: 450px) and (min-height: 450px)
                position relative
                left 0
                transform none
                background-color #000
                margin-top 1rem
                &.approve-button.black:hover
                    background: #eceeee;
                    border-color: #eceeee;
                    color: #000;
    @media only screen and (min-width: 768px)
        padding 2rem 2rem 62px 2rem
    .close-popup
        position fixed
        width: 30px;
        background-color: transparent;
        border: none;
        font-size 10pt
        font-weight bold
        right 0
        top 0
        cursor pointer
    @media only screen and (min-width: 450px) and (min-height: 450px)
        width 40%
        margin-left 2rem

        