.price-list-item--description
    height 100%
    background-color #fff
    padding 2rem
    font-size 7pt
    .close-popup
        font-size 14pt
        font-weight bold
        padding 10px
        cursor pointer
    @media only screen and (min-width: 768px)
        width 40%
        margin-left 2rem

        