.view-store-item
    color #8a8a8a
    height 100%
    overflow-y scroll
    overflow-x hidden
    video
        outline none
    &__description
        margin-top 1rem
        .pdf-link
            color #000
            text-decoration underline
            font-weight 400
            cursor pointer
    .title-info
        margin -5px
        margin-top 2rem
        &__price, &__title
            margin 5px
    .error-message
        display block
        margin-top 1rem
        color red
        font-weight: 400;