.view-store-item
    color #8a8a8a
    height 100%
    overflow-y scroll
    overflow-x hidden
    .react-player 
        position: relative;
        height auto !important
        overflow: hidden;
        @media only screen and (min-width: 769px)
            height 40% !important
        @media only screen and (min-width: 1920px)
            height 48% !important
    video
        outline none
        width: 100%;
        @media only screen and (min-width: 769px)
            height auto !important
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%)
        @media only screen and (min-width: 1920px)
            top 40%
    &__description
        margin-top 1rem
        .p
            @media only screen and (min-width: 769px)
                display -webkit-box
                overflow hidden
                -webkit-box-orient vertical
                -webkit-line-clamp 2
                text-overflow ellipsis
        .pdf-link
            color #000
            text-decoration underline
            font-weight 400
            cursor pointer
    .title-info
        margin -5px
        margin-top 1rem
        &__price, &__title
            margin 5px
    .error-message
        position absolute
        bottom 24vh
        display block
        margin-top 1rem
        color red
        font-weight: 400;
        @media only screen and (min-width: 768px)
            bottom 0.5rem
