.navlinks
  &__container
    display flex
    align-items: center;

    .button-bar
      width unset

    &:hover
      .navlinks__item._active:not(:hover)
        color #000 !important
        font-weight 300 !important

    @media only screen and (max-width: 880px)
      font-size 0.95em

  &__item
    display flex
    text-decoration none !important
    color #000 !important
    margin 0 5px 0 0 !important
    border none !important
    width unset !important
    line-height unset !important
    background unset !important
    font-size inherit !important
    font-weight 300 !important

    &.button
      margin 0 !important

    &:hover
      color #046b71 !important

    &:after
      display: flex;
      content: '→';
      font-size: 0.6em;
      padding: 0 0 0 5px;
      align-items: center;

    &:last-child:after
     content ''

    &._active
      color #046b71 !important

.navLinks__item_mobile
  font-size: 17px
  margin-right 17px
  margin-top 3px
  margin-bottom 0 !important
  text-align center
  text-transform uppercase
  color #000000
  opacity 0.6
  font-weight 500
  &._active 
    opacity 1
    border-bottom: 1px solid #000000