.navlinks
  &__container
    display flex

    &:hover
      .navlinks__item._active:not(:hover)
        color #5A5A5A !important

  &__item
    display flex
    text-decoration none !important
    color #5A5A5A !important
    margin 0 5px 0 0 !important
    width unset !important
    line-height unset !important
    background unset !important
    font-size inherit !important
    border none !important
    font-weight inherit !important

    &:hover
      color inherit !important

    &:after
      display inline
      content '>'
      padding 0 0 0 5px

    &:last-child:after
     content ''

    &._active
      color inherit !important