.user-menu--opened
  opacity 1 !important
.user-menu
  position absolute
  display flex
  flex-flow row wrap
  align-content flex-start
  justify-content space-between
  padding 3vh 2vw 3vw 4vw;
  overflow auto
  background gray-light
  height 100%
  width 100%
  z-index 1
  opacity 0
  transition opacity .3s
  .block
    flex-basis 20%
    display flex
    flex-flow column nowrap
    margin-bottom 35px
    @media screen and (max-width: 1600px)
      flex-basis 25%
    @media screen and (max-width: 1366px) // iPad
      flex-basis 30%
    &_heading
      font-family font-bold
      font-size 120%
      text-transform uppercase
      color gray - 50%
      line-height 1
      padding 19px 0
      white-space nowrap
    .block_list
      list-style none
      .block_list-item
        font-family font-default
        position relative
        text-transform capitalize
        color gray-for-placeholder
        font-size 80%
        padding 5px 0
        cursor pointer
      .list-heading
        font-family font-default
        color gray - 30%
        text-transform uppercase
        font-size 80%
        position relative
        &::before
          content ''
          position absolute
          min-height 4px
          min-width 4px
          border-radius 4px
          top 50%
          left -8px
          transform translateY(-50%)
          background-color gray - 30%
  .controls
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
