module.exports = {
    env: {
        CONSULT_WIDGET_ID: '6cWV5hrn59',
        CLOTHES_API: 'https://ordersystem.ru',
        // gasuits || mysuit || kalasova || suit
        SALON_ID: 'suit',
        SALON_API_ID: '4',
        BASE_SERVICE_LINK: 'https://suit.ru',
        SALON_TITLE: 'Пошив мужской одежды на заказ | Мужская одежда на заказ по индивидуальным меркам | Мужское ателье',
        SCRIPTS_FACEBOOK: '<!-- Facebook Pixel Code --> <script> !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version=\'2.0\'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,\'script\', \'https://connect.facebook.net/en_US/fbevents.js\'); fbq(\'init\', \'2304428226271794\'); fbq(\'track\', \'PageView\'); </script> <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2304428226271794&ev=PageView&noscript=1" /></noscript> <!-- End Facebook Pixel Code -->',
    }
}
