.mobile-menu {
  background: #fff;
  height: 100vh;
  width: 100vw;
  display: block;
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  margin: auto;
}

.navigation-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px; 

  .navigation-item.hidden {
    opacity: 40%;
    pointer-events: none;
  }

  .navigation-item {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.6vh;
    padding-left: 0px;
    padding-bottom: 10px;
    color: #000;
    display: flex;
    cursor: pointer;
    justify-content: space-between;

    .circle {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color #000;
      margin-right: 30px;
    }

    .arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    margin-right: 20px
}

    .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

    &:visited {
      color: #000;
    }
  }
}

.mobile-menu-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px;
      margin-top: auto;
}

.lang-list a:first-child {
  border-left: none;
}

.lang-list-item {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #868686;
  padding: 0 10px;
  border-left: 2px solid #868686;

  &.active {
    color: #000;
  }  
}

.mobile-menu-main {
  margin-top: 30px
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
  & .close-button {
    background: transparent;
    border: none;

    & .close-button-img {
      width: 70px;
    } 
  }  
}

.mobile-menu-header__gender-block {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.6vh;
    color: #000;
    border-bottom: 2px solid #ffffff;
    line-height: 36px;
    margin-left: 30px;
    &.active {
        border-color: #000;
      }
  }
}

.navigation-item.submenu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0 5px 30px;
    padding: 5px 18px 5px 10px;
    text-transform: uppercase;

    &:hover{
        background-color: #ccc;
    }

    svg{
        fill: #ccc;
    }
}

.subMenu{
    max-height: 0;
    min-width: 100px;
    overflow: hidden;
    transition: 0.3s linear;

    &.active{
      max-height: 500px;
      overflow: unset;
    }
}
