.pagination-container
  position absolute

.pagination-right
  right 15px
  top 35px

.pagination-left
  left 10px
  top 35px

.pagination
  position fixed
  list-style none
  & > .page
    content: ''
    height 6px
    width 6px
    border-radius 20px
    background-color gray
    margin 10px 0

  .active
    background-color black