.store-content
    display flex
    overflow hidden
    padding: 0.667rem;
    background-color: #fff;

.thanks-popup
    position absolute
    top 50%
    left 50%
    transform translate(-50%)
    text-transform uppercase