.additional-page
  position absolute
  display flex
  flex-flow row wrap
  align-items flex-start
  justify-content flex-start
  padding 3vh 2vw 3vw 3vw
  background-color white
  height 100%
  width 100%
  overflow-y auto
  z-index
  -ms-overflow-style none
  overflow -moz-scrollbars-none
  &::-webkit-scrollbar
    width 0
  .block
    flex-basis 20%
    display flex
    flex-flow column nowrap
    margin-bottom 35px
    @media screen and (max-width: 1600px)
      flex-basis 25%
    @media screen and (max-width: 1366px)
      flex-basis 33%
    &_heading
      font-family font-bold
      font-size 120%
      text-transform uppercase
      color gray - 50%
      line-height 1
      padding 19px 0
    .content__list
      list-style none
      .list__item
        position relative
        .dl-heading
          font-family font-bold
          line-height 2
          color gray - 30%
          text-transform uppercase
          font-size 80%
          position relative
          &::before
            content ''
            position absolute
            min-height 4px
            min-width 4px
            border-radius 4px
            top 50%
            left -8px
            transform translateY(-50%)
            background-color gray - 30%
        .dl-container
          list-style none
          color gray-for-placeholder + 25%
          .dl_item
            font-family font-default
            font-size 80%
            padding 5px 0
            cursor pointer
            &:hover
              color black
            .data-title
              display inline-block
              &::after
                content ':'
                margin-right 4px
                margin-left 1px
            .data-definition
              display inline-block
          .active
            color black

.pagination-container
  position absolute

.pagination-top-right
  right 15px
  top 35px

.pagination-top-left
  left 10px
  top 35px

.pagination
  position fixed
  list-style none
  & > .page
    content: ''
    height 6px
    width 6px
    border-radius 20px
    background-color gray
    margin 10px 0

  .active
    background-color black
