.main__middle
    .gallery__filter-btn
            // position: absolute;
            z-index: 2;
            top: 5.3333rem;
            left: 1.3333rem;
@media only screen and (max-width: 450px), only screen and (max-height: 450px)
    .catalog__intro-txt
        p
            font-size: 27px
    .main__middle
        .customs
            height 100%
            padding 0

            span a, .custom__no-pointer
            .custom__no-pointer
                margin-bottom: 1.3333rem;

            &--short
                height unset

        .gallery__filter-btn
            top: 10.3333rem;
            left: 2.3333rem;
            transform: translateY(1px);
            margin: 0px;



@media only screen and (max-width: 450px) and (orientation: landscape),
only screen and (max-height: 450px) and (orientation: landscape)
  .main__middle
    .gallery__filter-btn
        top 9.3333rem;