.menu-cover-btn
    position: absolute;
    width: 34px;
    height: 13px;
    background-color: #ebeeee;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
    z-index: 1;
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    &:focus, &__icon
        outline none
    &__icon
        position relative
        width auto
        height 20px
        background-image url('../../../assets/images/svg/left-arrow.svg')
        background-repeat no-repeat
        background-size 30px
        background-position: left center
    &__icon.up
        transform rotate(90deg)
    &__icon.down
        bottom: 5px;
        transform rotate(-90deg)