@media only screen and (max-width: 450px), only screen and (max-height: 450px)
    .main__middle
        .customs--short
            margin-bottom: 0 !important;
        .customs
            padding 0
            margin-bottom 1rem
            span a, .custom__no-pointer
            .custom__no-pointer
                margin-bottom: 1.3333rem;