.spinner
    &__wrapper
        display flex
        justify-content center
        align-items center
        height 100%
        width 100%

    width 6.6666rem
    height 3px
    display: flex

    .line
        fill none
        stroke #b7b7b7
        stroke-width 3px

        &--2
            stroke #000
            stroke-width 3px
            stroke-dasharray 55% 100%
            animation: spin 1s infinite
            animation-timing-function: linear


@keyframes spin
    0%   { stroke-dashoffset: 0 }
    100% { stroke-dashoffset: -155% }