.left-container, .right-container
  display flex
  flex-flow column nowrap
  justify-content space-between
  position relative
  height 100%
  width 50vw

a.link, a.link:visited, a.link:focus, a.link:hover
  font-family font-default
  color black
  text-decoration none
  position relative
  height 100%
  overflow hidden