.dummy-container
  display flex
  flex-flow column nowrap
  justify-content space-between
  position relative
  height 100%
  overflow hidden

  @import './Customize/CustomizeControls/CustomizeControls.styl'
