.order-form
  .buttons
    .button.black
      background #ab755b !important
      border-color: #ab755b !important
      
.order-form__input.PhoneInput .PhoneInputInput
    background-color transparent !important
    color white !important
    border none !important
    &:focus
        outline none !important

.PhoneInputCountry .PhoneInputCountryIcon--border
        box-shadow none !important
