.headerWrapper {
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.open-menu {
  border: none;
  background: transparent;
  height: 100%;

  .open-element-img {
    height: 55%;
  }
}

.content-wrapper {
  color: #8a8a8a;
  text-align: right;
  min-width: 50%;

  .menu-title {
    display flex
    justify-content flex-end
    font-weight: 400;
    text-transform: uppercase;
  }
}

.decorative-element-img {
  height: 100%;
  border-left: 2px solid #8a8a8a;
  padding-left: 20px;
  display none
}


.navlinks-mobile
  &__container
    display flex
    flex-direction column

  &__value
    margin 0 5px 0 0

  &__item
    display block
    border-radius 50%
    background black
    height 5px
    width 5px
    margin 0 0 2px 0
    opacity 0.2

    &:last-child
      margin 0

    &._active
      opacity 1

@media only screen and (max-width: 450px), only screen and (max-height: 450px) {
  .headerWrapper {
    height: 30px;
    margin: auto 0;
    width: 100%;
  } 
}