.user-info
  display block
  height 100%
  width 100%
  padding 3vh 4vw 57px 3vw
  background-size cover
  background-repeat no-repeat
  background-position right
  &_container
    text-align right
  &_email, &_tel, &_birth
    font-family font-default
    font-weight 400
    font-style normal
    line-height 1.8
    font-size 85%
    color gray-for-placeholder
  &_fullname //h2
    text-transform uppercase
    line-height 1
    font-family font-bold
    font-size 120%
    color gray - 50%
    padding 19px 0
    white-space nowrap