.customs{
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;  
    /* padding-right: 1.6666rem; */
    padding-right: 1.6666rem;
    margin-bottom: calc(2.4rem + 4px);
}
.customs--no-scroll{
    overflow: hidden;
    padding: 0;
}
.customs--short{
    flex-grow: 0;
    overflow-y: hidden;
    padding-right: 0;
    min-height: 2.9333rem;
    margin-bottom: 0;
}
.custom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem 0 1.3333rem;
    margin-bottom: 1.3333rem;
    height: 2.9333rem;
    background: #eceeee;
    color: black;
    position: relative;
    cursor: pointer;
}
.custom.custom__no-pointer {
    cursor: default;    
}
.custom:last-child{margin-bottom: 0;}
.custom__name{
    display: inline-block;
    vertical-align: bottom;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: .9333rem;
}
.custom__status{
    display: inline-block;
    font-size: .86666rem;
    color: #8a8a8a;
}

.custom__status input {
    height: 100%;
    width: 60%;
    border: none;
    background: none;
}

.custom__status input:focus {
    outline-width: 0;
}

.custom__control:before,
.custom__control:after{
    content: '';
    display: block;
    width: 1.3333rem;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 1.3333rem;
    margin-top: -1px;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;  
}
.custom__control:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.custom--open .custom__control:after{
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
}


@media only screen and (max-width : 1310px){
    .custom__status{font-size: 11px;}
}
@media only screen and (max-height : 700px){
    .custom__status{font-size: 11px;}
}