.wrapper{
    height: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    width: 9.5333rem;
    height: 100%;
    padding: 2.5rem 0 2.5rem 2.5rem;
    /* -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;     */
}
.navbar--white{
    background-color: white;
    -webkit-transition: background-color .35s ease;
    -o-transition: background-color .35s ease;
    transition: background-color .35s ease;    
}

.content--white,
.navbar--white.navbar--transparent{background-color: rgba(255, 255, 255,.6);}

.main{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    padding: 2.5rem;
    width: -webkit-calc(50% + 2.5rem);
    width: -moz-calc(50% + 2.5rem);
    width: calc(50% + 2.5rem);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start; 
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
    
}
.demo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: -webkit-calc(50% + 2.5rem);
    width: -moz-calc(50% + 2.5rem);
    width: calc(50% + 2.5rem);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-height : 700px){
    .main-menu li {margin: 1.4rem 0;}
}

