.main__header{
    height: 3rem;
    min-height: 3rem;
    position: relative;
    width: 100%;
    z-index: 6;
}
.main__footer{
    position: relative;
    z-index: 6;
    width: 100%;
    min-height: 2.6666rem;
    height: 2.6666rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.main__footer--index{
    justify-content: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.main__middle{
    flex-grow: 1;
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;   
    padding: 2.1333rem 0 0 0;
}

.main__bar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
}
.notification {
    position: relative;
    margin-right: 2.3rem;
    background: url(../img/bar-nav/balck/notification.svg) center bottom no-repeat;
    background-size: contain;
    width: 1.6rem;
    height: 1.1333rem;
    font-size: 0;
    text-indent: -5000px;
}
.profile-link{
    display: block;
    height: 1.3333rem;
    line-height: 1.0666rem;
    padding: .1333rem 0 0 1.6rem;
    margin-left: 2.2666rem;
    background: url(../img/bar-nav/white/user.svg) 0 center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    color: #fff;
    font-size: .8666rem;
    text-transform: uppercase;
}
.chopcard{
    position: relative;
    background: url(../img/bar-nav/balck/shopcard.svg) center bottom no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 1.6rem;
    height: 1.1333rem;
    font-size: 0;
    text-indent: -5000px;
}
.chopcard__calc{
    display: block;
    position: absolute;
    top: -.4666rem;
    right: -.6rem;
    width: 1.2666rem;
    height: 1.2666rem;
    line-height: 1.2rem;
    padding-top: 1px;
    text-indent: 0;
    border-radius: 50%;
    background: #436263;
    color: #fff;
    text-align: center;
    font-size: .8rem;
}

.main__header-content{
    -webkit-transition: 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    color: #fff;
    top: 0;
}
.main__header-content--main-page{
    position: relative;
    top: -webkit-calc(50vh - 3rem - 9.1333rem - 3rem);
    top: -moz-calc(50vh - 3rem - 9.1333rem - 3rem);
    top: calc(50vh - 3rem - 9.1333rem - 3rem);
    font-size: 1.6rem;
    margin-bottom: .4666rem;
}
.main__header-title{
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: .7333rem;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;    
}
.main__header-title span{color: #8a8a8a;}
.main__header-title i{
    position: relative;
    top: -2px;
    font-style: normal;
    font-size: 1.3333rem;
}
.breadcrumbs{
    color: #bfbfbe;
    font-size: .8666rem;
}
.breadcrumbs a{color: #bfbfbe;}
.breadcrumbs span,
.breadcrumbs a:hover{color: #fff;}

.main--white{
    color: #000;
    background: rgba(255, 255, 255, 0.6);
}
.main--white .profile-link{
    background-image: url(../img/bar-nav/balck/user.svg);
    color: #000;
}
.main--white .main__header-content{color: #000;}

.main--white .breadcrumbs,
.main--white .breadcrumbs a{color: #8a8a8a;}
.main--white .breadcrumbs span,
.main--white .breadcrumbs a:hover{color: #000;}

.main--bg-grey{
    background-color: #eceeee; 
}

.main--full{
    width: calc(100% - 9.5333rem);
}

@media only screen and (max-width : 1310px){
    .profile-link, .breadcrumbs{font-size: 11px;}
}
@media only screen and (max-height : 700px){
    .profile-link, .breadcrumbs{font-size: 11px;}
}
