.paralax-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
}
.paralax-bg:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .25);
}
.paralax-bg--hide{opacity: 0;}
.paralax-bg__pic{
    width: 102%;
    height: 102%;
    position: absolute;
    top: -1%;
    left: -1%;
/*
    background: url(../img/paralax-bg/pic.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
*/
    -webkit-transition: 1.5s ease-out .2s;
    -o-transition: 1.5s ease-out .2s;
    transition: 1.5s ease-out .2s;    
}
.paralax-bg__rect{
    position: absolute;
    z-index: 3;
    bottom: 50vh;
    right: -10vw;
    width: 110vw;
    height: 120vh;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
    transition: 1.5s ease-out;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.paralax-bg__rect rect{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.paralax-bg__rect rect:first-child{
    fill: #4b4b4b;
    opacity: .6;
}
.paralax-bg__rect rect:last-child{
    fill: #007b82;
    opacity: .25;
}

.video-block {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    display: block;
}

/*
@media only screen and (max-width : 1600px){
    .paralax-bg__rect{top: -5vh;}
}
@media only screen and (max-width : 1440px){
    .paralax-bg__rect{top: -8vh;}
}
*/

@media only screen and (max-width : 1380px){
    
    .paralax-bg:before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background: #000000;
        background: -moz-linear-gradient(left, #000 0%, transparent 50%, transparent 50%, transparent 100%);
        background: -webkit-linear-gradient(left, #000 0%, transparent 50%, transparent 50%, transparent 100%);
        background: linear-gradient(to right, #000 0%, transparent 50%, transparent 50%, transparent 100%);
        opacity: .75;
    }
}

@media only screen and (max-width: 450px){
    .paralax-bg__rect{
    bottom: 115vh;
    right: -0vw;
    width: 210vw;
    height: 120vh;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
}




