.preloader{
    /* position: fixed; */
    position: absolute;
    top: 0;
    /* left: 0; */
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center; 
}
.preloader__progbar{
    width: 100px;
    height: 2px;
    background: #9cabac;
    position: relative;
}
.preloader__progline{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    /* -webkit-transition: .35s ease-in;
    -o-transition: .35s ease-in;
    transition: .35s ease-in; */
    height: 2px;    
}
.preloader__progline.loaded{
    -webkit-animation: loading 1.9s ease both;
    -o-animation: loading 1.9s ease both;
    animation: loading 1.9s ease both;
}
@-webkit-keyframes loading {
    from { width: 0; }
    to { width: 100%; }
}
@-o-keyframes loading {
    from { width: 0; }
    to { width: 100%; }
}
@-moz-keyframes loading {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes loading {
    from { width: 0; }
    to { width: 100%; }
}

