.main
    &--full
        width calc(100% - 9.5333rem)

    &--bg-grey
        background-color #eceeee

    @media only screen and (max-width: 450px), only screen and (max-height: 450px)
        width 55%
        padding: 1.5rem 1rem 1.5rem 1rem;