.main
    display flex
    flex-direction column

    &--full
        width calc(100% - 9.5333rem)

    &--bg-grey
        background-color #eceeee

    @media only screen and (max-width: 450px), only screen and (max-height: 450px)
        width 100%
        // height
        /* поднимаем на 35px из-за полоски навигации хрома на мобилках */
        padding: 1.5rem 0rem;

        &--full
            width 100%