.swiper-popup-container {
  font-family: 'Roboto', sans-serif;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: white;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}

.swipe-block {
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 450px) {
  .swiper-popup-container {
    flex-direction: column;
  }
}
.swiper-container {
  margin-bottom: 5px;
  /* width: 415px; */
  width: 715px;
}

.swiper-image__slide {
  /* width: 415px; */
  width: 715px;
}

.swiper-image__thumb {
  /* width: 100px; */
  width: 175px;
}
@media only screen and (max-width: 450px) {
  .swiper-container {
    width: 355px;
    /* width: 200px; */
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .swiper-container-thumbs {
    display: none;
  }
}
.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  position: static;
  display: none;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  --swiper-theme-color: #8a8a8a;
}
@media only screen and (max-width: 450px) {
  .swiper-pagination {
    display: block;
  }
}
.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-slide {
  border: 1px solid #cdcdcd;
}
.swiper-slide.swiper-slide-thumb-active > img {
  /* outline: 3px solid #000;
  outline-offset: -3px; */
  border: 0.3333rem solid #fff;
}

@media only screen and (max-width: 450px) {
  .swiper-image__slide {
    width: 355px;
  }
}

@media only screen and (max-width: 450px) {
  .swiper-image__thumb {
    width: 85px;
  }
}

.text-block {
  margin-left: 20px;
}

.text-block button {
  margin-bottom: 25px;
}

@media only screen and (max-width: 450px) {
  .text-block {
    /* padding: 10px; */
    margin: 0;
  }
}

.text-block a {
  display: inline-block;
  color: #8a8a8a;
}
.text-block__price,
.text-block__title {
  color: #000;
  margin: 20px 0;
  border: none;
  width: unset;
  line-height: unset;
  background: unset;
  font-size: 1.4em;
  font-weight: 300;
}
.text-block__title {
  margin-top: 0;
  font-weight: 500;
}
.text-block h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}
.text-block p {
  font-size: 1rem;
}

.text-block__info {
  line-height: 2;
}
.text-block__info h2 {
  font-weight: 600 !important;
  margin-bottom: 5px;
}

.close-swiper-popup {
  background: transparent;
  border: transparent;
  position: relative;
  width: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 450px) {
  .close-swiper-popup {
    position: absolute;
    right: 5%;
    top: 3%;
    z-index: 9999;
    background: #ebebeb;
    border: 1px solid #eceeee;
    height: 22px;
  }
}
.close-swiper-popup:after {
  content: '';
  height: 20px;
  border-left: 2px solid black;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.close-swiper-popup:before {
  content: '';
  height: 20px;
  border-left: 2px solid black;
  position: absolute;
  transform: rotate(-45deg);
  left: 8px;
}

.text-block__breadcrumbs span {
  margin: 0 5px;
}
.text-block__breadcrumbs a {
  cursor: pointer;
}

.text-block__button {
  background-color: white !important;
  color: black !important;
}
