.demo
    .widget3d
        position absolute
        margin-left -45%

    @media only screen and (max-width: 450px), only screen and (max-height: 450px)
        width 8%
        .widget3d
            margin-left 0
