.myb
  position absolute
  height 100%
  width 100%
  background white
  padding 3vw 4vw
  overflow hidden

  ^[0]-container
    display block
    position relative
    width 100%
    //min-height calc(100% - 57px)
    overflow-y auto

    .heading
      font-size 140%
      font-family font-default
      text-transform uppercase
      line-height 1
      padding-top 9px
      margin-bottom 30px

      ^[0]-rows
        display flex
        height calc(100% - 61px)
        //height 100% - .heading
        flex-flow column nowrap
        justify-content space-between

        ^[0]-category
          display flex
          flex-flow row nowrap
          justify-content space-between
          align-items center
          align-content center
          &:first-child
            padding-top 0
          &:last-child
            padding-bottom 0

          ^[0]_label
            font-family font-default
            font-size 70%
            text-transform uppercase
            line-height 1

          ^[0]_input-block
            display flex
            border 1px solid gray
            height 40px

            ^[0]_input
              border 0
              box-shadow none
              outline none
              padding 0 15px
              text-align center

            ^[0]_system
              font-size 70%
              text-transform uppercase
              text-align center
              line-height 1
              border-left 1px solid gray
              padding 15px 30px