@keyframes fadeInFromNone
  0%
    display none
    opacity 0
    transform translateX(25px)
  1%
    display block
    opacity 0
    transform translateX(25px)
  100%
    display block
    opacity 1
    transform translateX(0)

.application
  & > header *:not(.fa)
    font-family font-header
  & > .header
    position relative
    height 57px
    width 100%
    color white
    line-height 1
    z-index 10
    background-color black-transparent
    .container
      position relative
      height 100%
      max-width 1230px
      margin 0 auto
      display flex
      justify-content space-between
      flex-flow row nowrap
    .logotype,.user
      display block
      height 100%
      width 170px
      font-size 100%
      text-transform uppercase
      color white
    .logotype-content
      font-family font-header
      height 100%
      display flex
      justify-content space-between
      align-items center
      align-content center
      flex-flow row nowrap
      img
        height 100%
    .user
      display flex
      justify-content space-between
      align-items center
      align-content center
      flex-flow row nowrap
      color gray
      &_enter, &_lang, &_cart
        cursor pointer
        user-select none
      &_enter:link, &_enter:visited, &_cart:link, &_cart:visited
        text-decoration none
        color inherit
      &_lang
        position relative
        border 0
        box-shadow none
        background-color transparent
        color gray
        text-transform uppercase
        padding 10px
        .dropdown
          min-width 50px
        .fa
          margin-left 5px
          transition transform .3s
      .active
        .fa
          transform rotate(180deg)
        .dropdown
          visibility visible
          opacity 1
      &_cart
        &-img
          display block
    .nav
      height 100%
      display none
      opacity 0
      &--active
        animation fadeInFromNone .3s ease-out
        display block
        opacity 1
        .user > .user_enter
          visibility hidden
      .list
        position relative
        height 100%
        display flex
        flex-flow row nowrap
        justify-content space-between
        align-items center
        list-style none
        text-transform uppercase
        &-item
          position relative
          cursor pointer
          transition all .3s
          border-bottom 1px dashed transparent
          &:hover
            border-bottom 1px dashed white
          &_content
            line-height 27px
            letter-spacing 2px
            font-size 90%;
        &-item:not(:first-child)
          margin-left 20px
        .active
          .dropdown
            opacity 1
            visibility visible

.dropdown
  z-index 10
  opacity 0
  visibility hidden
  transition all 0.5s ease
  position absolute
  background #fff
  box-shadow 0 1px 2px rgba(0,0,0,0.25)
  margin-top 16px
  min-width 192px
  left 50%
  transform translateX(-50%);
  letter-spacing normal
  &::before
    content: ''
    position absolute
    left 50%
    top 0
    margin -9px 0 0 -9px
    border-left: 9px solid transparent
    border-right: 9px solid transparent
    border-bottom: 9px solid white
  &:hover
    opacity 1
    visibility visible
  &__list
    list-style none
    &-item
      display block
      height auto
      border-bottom 1px solid gray
      &_content
        font-size 100%
        color black
        padding 0 20px
        line-height 40px
      &:hover
        background-color white - 10%
        & ^[2]_content
          color bronze
