.breadcrumbs
    &__wrapper
        display: inline-block
    &__crumb:first-letter
        text-transform: uppercase

.widget-overlay
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: calc(100% + 125px);
    background-color: transparent;
