@keyframes reveal
  0%
    display none
    min-height 0
    height 0
    opacity 0
    //transform translateY(-57px)
  1%
    display flex
    min-height 0
    height 0
    opacity 0
    //transform translateY(-57px)
  100%
    display flex
    min-height 57px
    height 57px
    opacity 1
    //transform translateY(0)

.main
  & > .switcher
    width 100%
    min-height 57px
    display flex
    flex-flow column nowrap
    justify-content space-around
    margin 0 auto
    padding 4px 0
    border-bottom 1px solid black
    z-index 10
    background-color white-transparent
    //animation reveal .3s ease-in-out

    & > .disabled
      display none

    & > .mr-switcher
      padding-bottom 1px
    & > .type-switcher
      padding-top 1px

  .mr-switcher, .type-switcher
    margin 0 auto
    text-align center
    line-height 1

    & > button
      border 0
      box-shadow none
      background transparent
      text-transform uppercase
      font-family font-header
      color text-inactive
      cursor pointer
      outline none

    & > button.active
      color black

  .mr-switcher_item
    font-size 120%
    padding 0 10px

  .type-switcher_item
    padding 0 10px
    font-size 90%

  .mr-switcher_divider
    font-size 120%
    border-left 1px solid text-inactive

  & > .switcher
    dl.list

      div.list_item
        display inline-block
        font-family font-default
        font-size 60%
        font-weight normal
        text-transform uppercase
        color gray
        cursor pointer
        &--active
          color black

      div.list_item:not(:last-child)::after
        margin 0 4px
        content '/'

      dt.list_item-title, dd.list_item-data
        display inline-block

      dt.list_item-title
        &::after
          content ':'
          margin-right 2px
