.dummy
  position relative
  display flex
  align-items center
  justify-content center
  height 100%
  width 100%
  .preview__dummy-img
    display block
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    opacity 0
    margin auto
    height 100%
    max-width unset

  .dummy__img-active
    opacity 1

  .wearing
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    height 100%
    width 100%

    & > img
      height 100%
      position absolute
      top 0
      left 50%
      transform translateX(-50%)
