.panel-row
    position relative
    display flex
    align-items flex-end
    width 100%
    margin-bottom 2rem
    flex-shrink 0

@import "./style.search.styl"
@import "./style.icon.styl"
@import "./style.controls.styl"
