.panel-row {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 2rem;
        flex-shrink: 0;
}

.search {
    flex-grow: 1;
    height: 100%;
    z-index: 4;
}
.search__control {
    position: relative;
    background: #fff;
}
.search__icon {
	position: absolute;
    width: 1.07rem;
    height: 1.07rem;
	transform: translateY(-50%);
    left: 0.933rem;
    top: 50%;
    background-image: url(/assets/img/search.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.search__input {
	width: 100%;
    padding: 0  4rem 0 2.867rem;
    line-height: 40px;
    border: 0;
    outline: none;
}
.search__input.active {
    background-color: #f5f5f5;
}
.search__clear {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
}
.search__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    margin-top: 1px;
    background-color: #f5f5f5;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    transition: .35s ease;
}
.search__list.active {
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.search__hint {
    padding:0.4rem 0 0.4rem 2.867rem;
    color: #8a8a8a;
}
.search__hint:hover {
    background: rgba(236, 238, 238, 0.5);
}

.icon-close {
    padding: 0;
    font-size: 0;
    background: 0 0;
    border: 0;
}
.icon-close::after, .icon-close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3333rem;
    height: 2px;
    background-color: #b0b0b0;
    transform-origin: 50% 50%;
}
.icon-close::after {
    transform: translateX(-50%) rotate3d(0,0,1,-45deg);
}
.icon-close::before {
    transform: translateX(-50%) rotate3d(0,0,1,45deg);
}
/******************************/
/***** Стили к котнролам *****/
/******************************/
.controls {
    position: absolute;
    right: 0;
    transition: .6s ease-in-out;
    z-index: 4;
}
.controls__list {
    display: flex;
    background: #fff;
}
.controls.hidden {
    display: block;
    transform: translateX(110%);
}
.controls__item {
    border-left: 1px solid rgba(147, 160, 174, 0.3);
    width: 3.8rem;
    height: 40px;
}
.controls__link {
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.controls__link:hover {
    background-color: #eceeee;
}
.controls__link--phone {
    background-image: url('/assets/img/controls/phone.svg');
    background-size: 1.28rem 1.28rem;
    /*background-size: 1.28rem 100%;*/
}
.controls__link--refresh {
    background-image: url('/assets/img/controls/refresh2.svg');
    background-size: 1.27rem 1.07rem;
    /*background-size: 1.27rem 100%;*/
}
.controls__link--msg {
    background-image: url('/assets/img/controls/msg.svg');
    background-size: 1.53rem 1.13rem;
}
.controls__link--eye {
    background-image: url('/assets/img/controls/eye.svg');
    background-size: 1.34rem 0.87rem;
}
.controls__link--trash {
    background-image: url('/assets/img/controls/trash.svg');
    background-size: 1rem 1.07rem;
}
.controls__link--edit {
    background-image: url('/assets/img/controls/edit.svg');
    background-size: 1.14rem 1.07rem;
}
.controls__link--pdf {
    background-image: url('/assets/img/controls/pdf.svg');
    background-size: 1.27rem 1.27rem;
}