.circle
  height 27px
  width 27px
  border-radius 100%

.controls
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  position relative
  height 57px
  width 100%
  border-bottom 0

.center
  margin 0 16px
