.order-data
  display flex
  position relative
  flex-flow row nowrap
  justify-content space-between
  align-items center
  margin-top 10%
  &_currency, &_date
    height 26px
    width 26px
  &_value
    font-size 180%
    font-family font-light
    line-height 1
    margin-left 20px
