@require "params.styl"
@require "assets/fonts/fonts.css"

@import "components/Main/Main.styl"
@import "components/Header/Header.styl"
@import "components/Main/Switch/Switch.styl"
@import "components/Main/Customize/Customize.styl"
@import "components/Main/Dummy/Dummy.styl"
@import "components/Main/Controls/Controls.styl"
@import "components/Login/Login.styl"

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-size 100%

#root
  height 100vh
  width 100vw

.application
  height 100%
  width 100%
  overflow hidden
  &:not(.fa)
    font-family font-default

.invisible
  visibility hidden

.hidden
  display none