html
  @media only screen and (max-width: 450px), only screen and (max-height: 450px)
    font-size 13px

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-size 100%

#root
  width 100vw
  overflow hidden

.application
  position relative
  height 100%
  width 100%
  overflow hidden

.invisible
  visibility hidden


.transparent
  opacity 0

.hidden
  display none

button:focus
  outline 0