@require "params.styl"
@require "assets/fonts/fonts.css"

@import "components/Header/Header.styl"
@import "components/Main/Switch/Switch.styl"
@import "components/Main/Customize/Customize.styl"

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-size 100%

#root
  height 100vh
  width 100vw

.application
  height 100%
  width 100%