white = #ffffff
white-transparent = rgba(255, 255, 255, 0.80)
black = #1b1b1b
black-transparent = rgba(0,0,0,0.85);
gray = #b5b5b5
gray-light = #f0f0f0
bronze = #b98348
text-inactive = #adacac
gray-for-placeholder = #808080
font-header = 'Proxima Nova Condensed'
font-default = 'Roboto Regular'
font-light = 'Roboto Light'
font-bold = 'Roboto Bold'
font-extra-bold = 'Roboto Black'
font-thin = 'Roboto Thin'
font-medium = 'Roboto Medium'
